# 依存関係
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# ビルド出力
dist/
.astro/
.output/

# 環境設定
.env
.env.local
.env.production

# ログファイル
*.log

# キャッシュ
.cache/
.temp/

# OS生成ファイル
.DS_Store
Thumbs.db

# IDE設定
.vscode/
.idea/

# その他
*.min.js
*.min.css
astro.config.mjs
eslint.config.mjs
package.json
prettier.config.mjs
README.md
stylelint.config.mjs
tsconfig.json
.prettierignore